<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<table>
  <tbody>
    <tr>
      <% for(var srIndex in softwareRequests){
        var softwareRequest = softwareRequests[srIndex];
        for (var propIndex in softwareRequest){
          var property = softwareRequest[propIndex];
          %><th><%= property %></th><%
        }
      } %>
    </tr>
  </tbody>
</table>