<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>hi</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
</head>
<body>
  <div ui-view></div>
  <script>
    var myApp = angular.module('myApp', ["ui.router"]);
    myApp.config(function($stateProvider, $urlRouterProvider) {
      //
      // For any unmatched url, redirect to /state1
      $urlRouterProvider.otherwise("/index");
      //

      // Now set up the states
      $stateProvider
        .state('index', {
          url: "/index",
          templateUrl: "/partials/index"
          //template: "<p>yo</p>"
        });
              /*
        .state('state1.list', {
          url: "/list",
          templateUrl: "partials/state1.list.html",
          controller: function($scope) {
            $scope.items = ["A", "List", "Of", "Items"];
          }
        })
        .state('state2', {
          url: "/state2",
          templateUrl: "partials/state2.html"
        })
        .state('state2.list', {
          url: "/list",
          templateUrl: "partials/state2.list.html",
          controller: function($scope) {
            $scope.things = ["A", "Set", "Of", "Things"];
          }
        });
        */
    });
  </script>
</body>
</html>